<div class="row">
  <div class="col-12">
    <h3 class="pt-3 pb-3">Фильмы</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-4">
    <div class="card search mb-4">
      <div class="card-header">
        Поиск
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="subject">Что ищем?</label>
            <select id="subject" class="form-control">
              <option value="">Я не уверен(а)</option>
              <option value="film">Фильм</option>
              <option value="book">Книга</option>
              <option value="music">Музыка</option>
            </select>
          </div>
          <div class="form-group">
            <label for="author">Имя автора</label>
            <input type="text" class="form-control" id="author">
          </div>
          <div class="from-group">
            <label for="year">Год</label>
            <nouislider 
            [connect]="true" 
            [min]="1900" 
            [max]="2017" 
            [step]="1" 
            [tooltips]="[true, true]"
            [(ngModel)]="slider" 
            style="margin-top: 40px;"
            name="year">
          </nouislider>
          </div>
          <div class="form-group">
            <label for="genre">Жанр</label>
            <select id="subject" class="form-control">
                <option value="">Я не уверен(а)</option>
                <option value="film">Фильм</option>
                <option value="book">Книга</option>
                <option value="music">Музыка</option>
              </select>
          </div>
          <div class="text-center">
            <button class="btn">Поиск</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8">
      <div class="container">
        <div 
          *ngFor="let film of films" 
          class="row content-block p-2 mb-2">
          <div class="col-3">
            <img src="assets/no-photo.png" class="img img-tubmnail">
          </div>
          <div class="col-9">
            <ul>
              <li><b>Название: </b><a [routerLink]="['/films', film.id]">{{ film.title }}</a></li>
              <li><b>Режиссёр: </b>{{ film.director.name + ' ' + film.director.surname }}</li>
              <li><b>Описание: </b>{{ film.description }}</li>
            </ul>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>
