<div class="row">
  <div class="col-12">
    <h3 class="pt-3 pb-3">Режиссёры</h3>
  </div>
</div>
<div class="col-12">
  <div class="container">
    <ng-container *ngIf="!directors">
      Загрузка...
    </ng-container>
    <div
      class="row content-block p-2 mb-2"
      *ngFor="let director of directors">
      <div class="col-3">
        <img 
          [src]="director.photo ? ('https://localhost:5001/photos/films/directors/' + director.photo) : 'assets/no-photo.png'" 
          class="img img-tubmnail rounded">
      </div>
      <div class="col-9">
          <div class="col-9">
            <ul>
              <li><b>Имя: </b><a [routerLink]="['/films/directors/', director.id]">{{ director.name + ' ' + director.surname }}</a></li>
              <li>
                <b>Годы жизни: </b>
                {{ director.bornYear }} 
                <ng-container *ngIf="director.deathYear"> 
                  - {{ director.deathYear }}
                </ng-container>
              </li>
              <li><b>Страна: </b>{{ director.country }}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>