<h3 class="text-center mt-3 mb-3">Регистрация</h3>
<form class="row">
  <div class="col-lg-6 col-sm-8 col-xs-10 offset-lg-3 offset-sm-2 offset-xs-1">
    <div class="form-group">
      <label for="login">Логин: </label>
      <input type="text" class="form-control" id="login" name="login">
    </div>
    <div class="form-group">
      <label for="password">Пароль: </label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="password-repeat">Повторите пароль: </label>
      <input type="password" class="form-control" id="password-repeat" name="password-repeat">
    </div>
    <div class="form-group">
      <label for="email">E-mail: </label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mt-2">Зарегистрироваться</button>
    </div>
  </div>
</form>