/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";

// body {
//     background-image: url(assets/gay.jpg);
// }

img {
    width: 100%;
    height: auto;
}

.invisible {
    display: none;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
}

.content-block {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.content-block ul {
    padding: 0;
    list-style: none;
}

.content-block img {
    max-width: 250px;
}

.noUi-connect {
    background-color: #dfdfdf;
}